@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --win: #8CD91A;
    --tie: #F2CA50;
    --lose: #F2528D;
    --light: #F2F2EB;
    --gray: #ccc;
    --main: #D9601A;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--light);
    font-size: 1.6rem;
    color: var(--main)
}

h1{
    font-size: 5rem;
    padding: 3rem;
}

h1 :nth-child(1){
    color: var(--lose)
}

h1 :nth-child(2){
    color: var(--tie)
}

h1 :nth-child(3){
    color: var(--win)
}

button{
    padding: 1rem 3rem;
    background-color: var(--win);
    font-size: 2rem;
    border: .5rem solid #fff;
    cursor: pointer;
    border-radius: .5rem;
}

button:hover{
    filter: brightness(95%);
    transition: all .3s ease;
}

.game{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.header{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    border-bottom: 1px solid var(--gray);
    min-height: 20vh;
}

.player, .battle, .cpu{
    padding: 1rem;
}

.player, .cpu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.player{
    border-right: 1px solid var(--gray)
}

.cpu{
    border-left: 1px solid var(--gray)
}

.battle{
    display: flex;
    min-height: 80vh;
    justify-content: center;
    position: relative;
    padding: 0;
}

.battle .play{
    text-align: center;
    bottom: 3rem;
    position: absolute;
}

label, .cpu svg{
    width: 10rem;
    height: 10rem;
    margin-top: 1rem;
}

.player label{
    transform: scale(-1, 1);
    cursor: pointer;
}

.cpu svg{
    cursor: not-allowed;
}

.player svg path.a{
    fill: var(--light);
}

.player svg:hover path.a{
    filter: brightness(95%);
    transition: all .3s ease;
}

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + label svg path.a{
    fill: var(--gray);
}

.score-board{
    text-align: center;
    font-size: 3rem;
    color: #fff;
    margin-top: 1rem;
    top: 3rem;
    position: absolute;
}

.score-board span:nth-child(odd){
    background-color: var(--main);
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    border: .5rem solid #fff;
    min-width: 7rem;
    display: inline-block;
}

.score-board span:nth-child(2){
    color: var(--tie);
}

.playerXcpu{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.player-battle, .cpu-battle{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--light);
    transition: all .5s ease-in-out;
}

.player-battle{
    margin-left: -30vw;
}

.playerXcpu svg{
    width: 80%;
}

.player-battle svg{
    transform: scale(-1, 1);
}

.cpu-battle{
    margin-left: 30vw;
}

.battle svg path.a{
    fill: #fff;
}

.win, .lose, .tie{
    margin: 0 !important;
    opacity: 1;
    transition: all .5s ease-in-out;
}

.win{
    background-color: var(--win);
}

.lose{
    background-color: red;
}

.tie{
    background-color: orange;
}

.d-block{
    display: block !important;
}

.info{
    position: relative;
    display: none;
    width: 20vw;
    height: 0;
}

.info p{
    background-color: var(--main);
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    bottom: 82vh;
    z-index: 2;
    margin: 0 auto;
    position: relative;
    width: 60%;
    text-align: center;
}

.info::after{
    content: '';
    width: 0.2rem;
    height: 0.2rem;
    display: block;
    border-color: var(--main) transparent transparent;
    border-width: 1rem 1rem 0;
    border-style: solid;
    bottom: 82vh;
    position: relative;
    left: 9vw;
}

@media (max-width: 667px){
    *{
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    label, .cpu svg{
        width: 4rem;
        height: 4rem;
        margin-top: 1rem;
    }

    h1 {
        font-size: 5rem;
        padding: 0
    }


    .player{
        border: 0;
        border-top: 1px solid var(--gray)
    }
    
    .cpu{
        border: 0;
        border-bottom: 1px solid var(--gray)
    }

    .player label{
        transform: scale(-1, -1);
        cursor: pointer;
    }

    .game {
        grid-template-columns: 1fr;
    }

    .header {
        grid-column-start: 1;
        grid-column-end: 4;
        min-height: 10vh;
    }

    .player {
        order: 4;
        grid-column: 1;
        min-height: 10vh;
    }

    .battle {
        min-height: 68vh;
        order: 2;
        grid-column: 1;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cpu {
        grid-column: 1;
        order: 1;
        min-height: 10vh;
    }

    .player, .cpu {
        display: flex;
        flex-direction: row;
    }

    #player{
        order: 2;
    }

    .cpu-battle {
        margin-left: 0;
        margin-top: -40vh;
    }
    
    .player-battle {
        margin-left: 0;
        margin-top: 40vh;
    }

    .playerXcpu{
        min-height: 34vh;
        max-height: 34vh;
    }
    
    .playerXcpu svg {
        width: 30%;
    }
    
    .cpu-battle svg {
        margin-top: 9rem;
    }
    
    .player-battle svg {
        margin-bottom: 9rem;
    }

    .player-battle svg{
        transform: scale(-1, -1);
    }

    .score-board {
        font-size: 2rem;
        left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        top: initial;
        align-self: center;
    }

    .score-board span:nth-child(odd) {
        min-width: 6rem;
        justify-content: center;
    }

    .score-board :nth-child(1){
        display: flex;
        order: 3;
    }
    .score-board :nth-child(2){
        display: flex;
        order: 2;
    }
    .score-board :nth-child(3){
        display: flex;
        order: 1;
    }

    .info{
        position: relative;
        display: none;
        height: 3rem;
        width: 100vw;
    }

    .info p{
        background-color: var(--main);
        color: #fff;
        padding: 0.5rem;
        border-radius: 0.5rem;
        position: relative;
        bottom: 13vh;
        z-index: 2;
    }

    .info::after{
        content: '';
        width: .2rem;
        height: .2rem;
        display: block;
        margin: 0 auto;
        border-color: var(--main) transparent transparent;
        border-width: 1rem 1rem 0;
        border-style: solid;
        bottom: 13.5vh;
        position: relative;
        left: initial;
    }

}